/* global.css */

:root {
  --spotify-green: #1db954;
  --spotify-lightgreen: #6be596;
  --spotify-black: #121212;
  --spotify-darkgray: #181818;
  --spotify-lightgray: #282828;
  --text-gray: #b3b3b3;
  --spotify-text-color: white;
  --screen-margin: 30%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212; /* Spotify dark background */
  color: #fff;
  font-size: 1rem;
}
